@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=PT+Sans&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.alt{
    display:none;
}
article{
    background-color: #241e1e;
    color:white;
}
article p{
    margin: 0;
    padding: 10px;
}
header{
    text-align: center;
    color: white;
    background: rgb(36,30,30);
    background: linear-gradient(356deg, #241e1e 0%, rgba(36,30,30,0.6530813008797269) 100%); 
}
header p{
    font-style:italic;
}
header p, header h1, header h2{
    margin: 0;
    padding: 0;
}
footer{
    background-color: slategray;
    color: white;
}
footer p{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
hr{
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}
table img{
    width: 50%;
    transition: width 0.2s, height 0.2s ease-out;
}
td:last-of-type img:hover{
    width: 75%;
}
table{
    width: 90%;
    border: 1px solid white;
    /*Árnyalatos háttér*/
    background: rgb(36,30,30);
    background: linear-gradient(306deg, rgba(36,30,30,0.8855742980786064) 0%, rgba(197,147,18,0.8491597322522759) 26%, rgba(204,152,17,0.6446779395351891) 73%, rgba(36,30,30,0) 100%); 
    /*Ne essen össze a border, hogy kerek lehessen a kinti rész*/
    border-collapse: separate !important;
    border-spacing: 0;
    border-radius: 5px;
    margin: auto;
}
tbody p{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
tbody h3{
    text-align: center;
}
tbody td:first-of-type{
    width: 25%;
    border-right: 1px solid white;
}
tbody td:first-of-type img{
    border-radius: 50%;
    border: 1px solid brown;
    transition: border-radius 0.1s;
}
tbody td:first-of-type img:hover{
    border-radius: 0%;
}
header h1{
    padding-top: 75px;
}
header p{
    padding-bottom: 65px;
}
tbody td:last-of-type{
    width: 75%;
}
tbody td:last-of-type img{
    border-radius: 5px;
    border: 2px solid firebrick;
    width: 50%;
}
h2, h1{
    text-align: center;
}
#el_kovetelmeny td:first-of-type{
    width: 15%;
    border-right: 1px solid white;
}
#el_kovetelmeny th{
    border-bottom: 1px solid white;
}
#el_kovetelmeny{
    width: 60%;
    background: rgb(36,30,30);
    background: linear-gradient(28deg, rgba(36,30,30,0.8855742980786064) 0%, rgba(9,9,121,1) 73%, rgba(36,30,30,1) 100%); 
}
th{
    padding: 15px;
    border-bottom: 1px solid white;
}
@media screen and (max-width: 600px){
    /*Táblázatok egyenként való kijelzése*/
    .alt{
        display: block;
    }
    table img{
        display: none;
    }
    tbody td:first-of-type{
        width: 50%;
    }
    #el_kovetelmeny{
        width: 90%;
    }
}
